.mb-l {
    margin-bottom: 30px;
}

.navbar-brand img {
	margin-top:-20px;
}


  @media (max-width: 500px) {


	.brand-logo {
		width:250px;
		height:auto;
	}

	.navbar-toggle {
		margin-top:15px !important;
		margin-right:0px !important;
		margin-left:0px;
	}

	.navbar-brand {
		padding-right:5px !important;
		padding-left:10px !important;
	}


}

.carousel-caption {
	font-size:24px;
	color:grey;
}


.module-fp h1 {
	padding:30px;
	text-transform: uppercase;
    color: #fff;
    background-color: rgba(79,79,79,0.6);
    border-bottom: 1px solid #666;
}

p img {
	display:block;
	max-width: 100%;
    height: auto;
}

nav li.active:before {
content: '';
position: absolute;
bottom: -12px;
left: 40%;
border-top: 12px solid @brand-primary;
border-left: 12px solid transparent;
border-right: 12px solid transparent;
}

nav li.active:after {
content: '';
position: absolute;
bottom: -12px;
left: 40%;
border-top: 11px solid @brand-primary;
border-left: 11px solid transparent;
border-right: 11px solid transparent;
}

.module {
margin-bottom:20px;
background-size: cover;
background-position: center;
width: 100%;
height: 400px;
position: relative;
float: left;

}

.mid h1 {
font-weight: 800;
text-transform: uppercase;
color: white;
margin: 0 auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding:15px;
border:1px solid #666;

background-color: rgb(79,79,79);
background-color: rgba(79,79,79, 0.6);
}

.caption span {
position: absolute;
top: 20px;
left: 20px;
color: black;
margin: 0;
padding:15px;
border:0px solid #666;
/*
background-color: rgb(79,79,79);
background-color: rgba(79,79,79, 0.6);
*/
}

.caption-top span {
position: absolute;
top: 20px;
left: 20px;
color: white;
margin: 0;
padding:15px;
border:0px solid #666;
/*
background-color: rgb(79,79,79);
background-color: rgba(79,79,79, 0.6);
*/
}

a > div.module:hover {
/* Firefox */
-moz-transition: all 0.5s ease;
/* WebKit */
-webkit-transition: all 0.5s ease;
/* Opera */
-o-transition: all 0.5s ease;
/* Standard */
transition: all 0.5s ease;

/* Firefox */
-moz-transform: scale(1) rotate(1deg) translate(1px);
/* WebKit */
-webkit-transform: scale(1) rotate(1deg) translate(1px);
/* Opera */
-o-transform: scale(1) rotate(1deg) translate(1px);
/* Standard */
transform: scale(1) rotate(1deg) translate(1px);

z-index: 1000;
}

.module h2 {
text-transform: uppercase;
margin-bottom:0px;
color:black;
}

.module-punchline {
font-size:20px;
font-weight: 600;
padding-bottom:15px;
}

.module-text {
    position: absolute;
    bottom: 0;

    background-color: rgb(79,79,79);
    width: 100%;
    padding: 10px;
    color:white;
}

.footer {
	background-image: url("../img/bg.png");
    background-position: top; 
    background-repeat:repeat;
    border-color: transparent;
    background-color:#4f4f4f; 
    color:white; 
    padding-top:15px; 
    min-height:200px; 
    margin-top:30px
}

