{% set images = entry.original %}
{% if images | length %}
<div class="container">
  <div id="carousel-slider" class="carousel slide mb-l" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
      {% for image in images %}
      <div class="item {% if loop.first %} active {% endif %}">
        <img src="{{ image.getUrl('imageBig') }}" alt="{{ image.title }}">
        <div class="carousel-caption">
          <h1>{{ entry.title }}</h1>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-slider" role="button" data-slide="prev">
      <span>Forrige</span>
    </a>
    <a class="right carousel-control" href="#carousel-slider" role="button" data-slide="next">
      <span>Neste</span>
    </a>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">

    <div class="col-md-7">
      <h1 class="text-uppercase">{{entry.title}}</h1>
      <div class="lead">{{entry.excerpt}}
      </div>
      {{entry.body}}
    </div>
    <div class="col-md-5">
      {% if entry.infoBox|length %}
      <div class="well">
        {% for block in entry.infoBox %}
        {% switch block.type %}
        {% case "text" %}
        {{ block.text }} {# Type: Rich Text #}
        {% case "button" %}
        <a class="btn btn-primary btn-block btn-lg" href="{{block.button.url}}">{{ block.button.text }}</a>
        {% endswitch %}
        {% endfor %}
      </div>
      {% endif %}
      
      {% set imageGeneric = entry.imageGeneric %}
      {% if imageGeneric | length %}
      {% for image in imageGeneric %}
      <img class="img-responsive" src="{{ image.getUrl('imageMedium') }}" alt="{{ image.title }}">
      {% endfor %}
      {% endif %}
    </div>

  </div>
</div>

{% set properties = entry.getChildren() %}
{% if properties | length %}
<div class="container">
<hr>
  <h2>Tomtefelter</h2>

  <div class="row">
    {% for property in properties %}
    {% set img = property.imageBackground.first %}
    <div class="col-md-6 col-lg-4">
      <a href="{{property.url}}">
        <div class="module caption-top"
        {% if img %}
        style="background-image: url('{{img.getUrl}}');"
        {% else %}
        style="background:grey"
        {% endif %}>
        <span>
          <h2>{{property.title}}</h2>
        </span>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

</div>
{% endif %}