{% set images = entry.original %}
{% if images | length %}
<div class="container">
    <h1 class="text-uppercase">{{entry.title}}</h1>
	<div id="carousel-slider" class="carousel slide mb-l" data-ride="carousel" data-interval="false">

		<div class="carousel-inner" role="listbox">
			{% for image in images %}
			<div class="item {% if loop.first %} active {% endif %}">
				<img src="{{ image.getUrl('imageBig') }}" alt="{{ image.title }}">
				<div class="carousel-caption">
					
				</div>
			</div>
			{% endfor %}
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-slider" role="button" data-slide="prev">
			<span>Forrige</span>
		</a>
		<a class="right carousel-control" href="#carousel-slider" role="button" data-slide="next">
			<span>Neste</span>
		</a>
	</div>
</div>
{% else %}
<div class="container">
      <h1 class="text-uppercase">{{entry.title}}</h1>
</div>
{% endif %}
<div class="container">
	<div class="row">
		<div class="col-lg-8">
		<div class="lead">{{entry.excerpt}}
    	</div>
			{{entry.body}}
		</div>

		<div class="col-lg-4">
			{% if entry.infoBox|length %}
			<div class="well">
				{% for block in entry.infoBox %}
				{% switch block.type %}
				{% case "text" %}
				{{ block.text }} {# Type: Rich Text #}
				{% case "button" %}
				<a class="btn btn-primary btn-block btn-lg" href="{{block.button.url}}">{{ block.button.text }}</a>
				{% endswitch %}
				{% endfor %}
			</div>
			{% endif %}
		</div>

	</div>
</div>
{% if entry.getSiblings()|length %}
<div class="container">
	<hr>
	<h4>Andre tomtefelter i {{ entry.getParent() }}</h4>
	<div class="row">

		{% for sibling in entry.getSiblings() %}
		{% set img = sibling.imageBackground.first %}

		<div class="col-md-6 col-lg-4">
			<a href="{{ sibling.url }}">
			<div class="module caption-top"
			{% if img %}
			style="background-color:grey; background-image: url('{{img.getUrl}}');"
	        {% else %}
	        style="background:grey"
	        {% endif %}>
					<span>
						<h2>{{ sibling.title }} »</h2>
					</span>
				</div>
			</a>
		</div>
		{% endfor %}

	</div>
</div>
{% endif %}