{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

<div class="container">
    <div id="carousel-example-generic" class="carousel slide mb-l" data-ride="carousel">


      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item next left">
          <img src="https://placeimg.com/1200/480/nature" alt="...">
        </div>
        <div class="item">
          <img src="https://placeimg.com/1201/480/nature" alt="...">
        </div>
        <div class="item">
          <img src="https://placeimg.com/1202/480/nature" alt="...">

        </div>
        <div class="item active left">
          <img src="https://placeimg.com/1203/480/nature" alt="...">
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span></span>
      </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h1 class="text-uppercase">{{entry.title}}</h1>
            <p class="lead">{{entry.excerpt}}
            </p>

            {{entry.body}}

        </div>
        <div class="col-md-5">
            <img class="img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
        </div>
    </div>
</div>


{% set properties = craft.entries.section('areas').level(2) %}
{% if properties | length %}

<div class="container">
    <h2>Tomtefelter</h2>

    <div class="row">
{% for property in properties %}
        <div class="col-md-6 col-lg-4">
            <a href="{{property.url}}">
                <div class="module caption-top" style="background-image: url(img/bgbig.jpg);">
                    <span>
                        <h2>{{property.title}}</h2>
                    </span>
                </div>
            </a>
        </div>

    {% endfor %}

    </div>
</div>
    {% endif %}





{% endblock %}
