{% extends "_layout" %}

{% block content %}

{% set areas = craft.entries.section('areas').level(1) %}
{% set areasChildren = craft.entries.section('areas').level(2) %}
{% set num = areas.children().count() %}
{% set numChildren = areasChildren.children().count() %}
<div class="container">
    <div class="module module-fp" 
    

{% set img = entry.imageBackground.first %}

            {% if img %}
            style="background-color:grey; background-image: url('{{img.getUrl('imageBig')}}');"
            {% else %}
            style="background:grey"
            {% endif %}>
    
        <h1>
            {% if entry.areasProperties %}
            {{num}} områder. <br />{{numChildren}} tomtefelt.<br /><br /> 
            {% endif %}        
            {{entry.body}}</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% if areas | length %}
            {% for area in areas %}
            {% set img = area.imageBackground.first %}
            <div class="col-md-6 col-lg-4">
                <a href="{{area.url}}">
                    <div class="module caption"
                    {% if img %}
                    style="background-image: url('{{img.getUrl}}');"
                    {% else %}
                    style="background:grey"
                    {% endif %}>
                    <span>
                        <h2>{{area.title}}
                        </h2>
                        <div class="module-punchline">{{area.areaDescription}}</div>
                    </span>
                    <div class="module-text">{{area.getDescendants().count()}} tomtefelt</div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}